[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
causalnex = "*"
networkx = "*"
graphviz = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
ipykernel = "*"
ipython = "*"
pygraphviz = "*"
flake8 = "*"

[dev-packages]
yapf = "*"

[requires]
python_version = "3.8"
