[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jax = {extras = ["cpu"], version = "*"}
lightweight-mmm = "*"
ipykernel = "*"
jupyter = "*"
pandas = "*"
sklearn = "*"
autopep8 = "*"
flake8 = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.10"
